@import url("settingUpProject.css");
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=optional');


/* TODO: Variables start */

:root {
    --header-height: 5.5rem;
    --search-here-size: 1rem;
    --search-here-icon-size: 1rem;
    --mobile-message-icon-size: 1.8rem;
    --friend-name-size: 1.5rem;
    --search-friend-icon-size: 1.7rem;
    --chat-friend-name-size: 1.3rem;
    --back-friend-message-size: 1.5rem;
    --user-message-size: 1.2rem;
    --send-message-size: 2rem;
    --message-size: 1.2rem;
    --buttons-size: 1.2rem;
    --user-name-size: 1.2rem;
    --change-password-input-size: 1.2rem;
    --error-message-size: 1.1rem;
    --post-message-size: 1.2rem;
}

/* FIXME: Variables end */

/* TODO: Header starts */

.header {
    padding: 0 .5rem;
    background: var(--main-color);
    height: var(--header-height);
    border-bottom: 1px solid var(--transparent);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header__mobile__version,
.search__here__container {
    display: flex;
}

.header__mobile__version {
    align-items: center;
    gap: 1rem;
}

.header__mobile__figure {
    padding: 0 .5rem;
}

.redirect__message__mobile,
.header__mobile__image {
    cursor: pointer;
}

.header__mobile__image {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.search__here__container {
    gap: .4rem;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background: var(--header-color);
    flex-grow: 1;
    padding: .6rem;
    border-radius: 4px;
}

.search__here {
    width: 100%;
    font-size: var(--search-here-size);
}

.search__here__container i,
.search__here {
    color: var(--black);
}

.search__here__container i {
    font-size: var(--search-here-icon-size);
    cursor: pointer;
}

.search__here::placeholder {
    text-transform: capitalize;
}

.redirect__message__mobile__container {
    padding: 0 .5rem;
}

.redirect__message__mobile {
    font-size: var(--mobile-message-icon-size);
    color: var(--grey);
}

/* FIXME: Header ends */

/* TODO: Messaging start */

.main {
    margin-top: var(--header-height);
    padding-top: 3rem;
}

.messaging__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.messaging__friend__container,
.message__friends__container {
    display: flex;
}

.message__friends__container {
    flex-direction: column;
    background: var(--main-color);
    border-top: 1px solid var(--black);
}

.friend__image {
    aspect-ratio: 1;
    width: 4rem;
    border-radius: 100%;
    object-fit: cover;
}

.messaging__friend__container {
    align-items: center;
    gap: 1rem;
    padding: 1.5rem .5rem;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.messaging__friend__container:hover {
    background: var(--second-color);
}

.friend__name {
    font-size: var(--friend-name-size);
    color: var(--grey);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search__friend__section {
    width: 90%;
    max-width: 40rem;
    align-self: flex-end;
    margin-right: 1rem;
}

.search__friend__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border: 1px solid var(--black);
    padding: .7rem 1rem;
    border-radius: 1rem;
    background: var(--header-color);
}

.search__friend__input {
    font-size: var(--search-here-size);
    color: var(--black);
}

.search__friend__input::placeholder {
    text-transform: capitalize;
}

.search__friend__button {
    font-size: var(--search-friend-icon-size);
    color: var(--black);
}

.chat__section {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 110;
    background: var(--main-color);
}

.send__message__container,
.chat__friend__container,
.chat__section.active {
    display: flex;
}

.chat__section.active {
    flex-direction: column;
}

.chat__friend__image {
    aspect-ratio: 1;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
}

.chat__friend__container {
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--transparent);
    box-shadow: 0 0 10px 5px var(--transparent);
    height: 8rem;
}

.send__message__container {
    height: 9rem;
}

.friend__chat__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--chat-friend-name-size);
    color: var(--grey);
}

.send__message__container i,
.chat__friend__container i {
    cursor: pointer;
}

.chat__friend__container i {
    font-size: var(--back-friend-message-size);
    color: var(--black);
}

.send__message__container {
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--transparent);
    padding-right: 1rem;
}

.user__message__input {
    width: 90%;
    height: 4rem;
    overflow-y: auto;
    font-size: var(--user-message-size);
    font-weight: 500;
    color: var(--grey);
    resize: none;
    padding: 1rem;
}

.user__message__input::placeholder {
    text-transform: capitalize;
}

.send__message__container i {
    font-size: var(--send-message-size);
    color: var(--black);
}

.user__message {
    align-self: flex-end;
    background: dodgerblue;
    color: var(--main-color);
}

.chat__container {
    height: 100vh;
    overflow-y: auto;
    background: #f6f7fb;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 2rem .5rem;
    gap: .2rem;
}

.message {
    padding: .6rem 1.2rem;
    font-size: var(--message-size);
    border-radius: 1rem;
    max-width: 80%;
    font-family: "Cousine", monospace;
}

.friend__message {
    align-self: flex-start;
    background: rgb(21, 175, 98);
    color: var(--main-color);
}

/* FIXME: Messaging ends */

/* TODO: User profile starts */

.user__image__input {
    display: none;
}

.user__profile__buttons__container,
.user__informations__container {
    display: flex;
    flex-direction: column;
}

.user__profile__buttons__container {
    width: fit-content;
    gap: .5rem;
}

.user__profile__buttons__container .button {
    text-align: center;
}

.user__informations__container {
    gap: 2rem;
    align-items: center;
}

.button {
    padding: .8rem 1.5rem;
    display: inline-block;
    font-size: var(--buttons-size);
    font-weight: 500;
    border: 1px solid var(--transparent);
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    background: var(--third-color);
    color: var(--main-color);
    transition: all .2s linear;
}

.button:hover {
    filter: grayscale(30%);
}

.user__name,
.post__button {
    background: dodgerblue;
}

.choose__image__button {
    background: rgb(88, 148, 88);
}

.current__user__image {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
}

.select__user__image__form .button {
    width: 100%;
}

.user__name {
    font-size: var(--user-name-size);
    color: var(--main-color);
    text-align: center;
    padding: .7rem 1.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.log__out {
    background: rgb(255, 34, 34);
}

.change__password__form,
.change__password__container.active {
    display: flex;
}

.change__password__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 110;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    display: none;
}

.change__password__form {
    background: var(--main-color);
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 1rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    position: relative;
    flex-grow: 1;
    max-width: 40rem;
    align-items: center;
}

.change__password__input {
    padding: 1rem;
    border: 1px solid var(--transparent);
    background: dodgerblue;
    color: var(--main-color);
    font-size: var(--change-password-input-size);
    border-radius: 1rem;
    width: 100%;
    max-width: 25rem;
}

.change__password__input::placeholder {
    color: var(--main-color);
    text-transform: capitalize;
}

.change__password__container .button {
    width: fit-content;
}

.error__message {
    color: rgb(218, 47, 47);
    font-size: var(--error-message-size);
    display: none;
}

.error__message.active {
    display: block;
}

.change__password__form .fa-times {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    transition: all .2s linear;
}

.change__password__form .fa-times:hover {
    color: rgb(218, 47, 47) ;
}

.change__password__input__container {
    width: 100%;
    max-width: 25rem;
}

.password__updated__container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -2rem;
}

.password__updated__container i {
    font-size: 2.5rem;
    color: dodgerblue;
}

.password__updated__message {
    font-size: 1.2rem;
    color: dodgerblue;
}

.start__post__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 110;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    overflow: auto;
}

.start__post__container.active {
    display: flex;
}

.start__post__form {
    width: 100%;
    max-width: 50rem;
    border: 1px solid var(--transparent);
    background: var(--main-color);
    border-radius: 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    overflow: auto;
}

#post__image {
    display: none;
}

.post__message {
    color: var(--black);
    font-size: var(--post-message-size);
    resize: none;
    height: 7rem;
    width: 100%;
    padding: 1rem;
}

.post__image__buttons {
    background: dodgerblue;
}

.post__buttons__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-self: center;
}

.post__image__container {
    border: 1px solid var(--black);
    aspect-ratio: 1;
    width: 100%;
    max-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.post__image {
    object-fit: cover;
    width: auto;
    max-height: 30rem;
    max-width: 100%;
}

.start__post__form .fa-times {
    align-self: flex-end;
    color: rgb(216, 81, 81);
    font-size: 3rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: -2rem;
}

/* FIXME: User profile ends */

/* TODO: Media queries start */

@media screen and (min-width: 280px) {

    /* TODO: Variables adjustments */
    
    :root {
        --search-here-size: 1.2rem;
        --search-here-icon-size: 1.5rem;
        --mobile-message-icon-size: 2rem;
        --user-message-size: 1.4rem;
        --send-message-size: 2.2rem;
        --message-size: 1.4rem;
        --post-message-size: 1.4rem;
    }

    /* FIXME: Variables adjustments end */

    /* TODO: Header adjsutments */

    .header__mobile__image {
        width: 3rem;
    }

    .search__here__container {
        padding: .6rem 1rem;
        gap: .6rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Messaging adjustments */

    .messaging__friend__container {
        padding: 1.5rem 1rem;
    }

    .chat {
        padding: 2rem 1rem;
    }

    /* FIXME: Messaging adjustments end */

    /* TODO: User profile adjustments */

    .change__password__form {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .post__buttons__container {
        flex-direction: row;
        gap: .5rem;
        align-self: flex-end;
    }

    .start__post__form .submit__post__button {
        max-width: 10rem;
    }

    /* FIXME: User profile adjusmtent end */
    
}

@media screen and (min-width: 350px) {

    /* TODO: Variables adjustments */

    :root {
        --buttons-size: 1.5rem;
        --user-name-size: 1.4rem;
    }

    /* FIXME: Variables adjustments end */

    /* TODO: Messaging adjustments */

    .send__message__container {
        padding: 1rem 2rem;
    }

    /* FIXME: Messaging adjsutments end */

}

@media screen and (min-width: 400px) {

    /* TODO: Header adjustments */

    .header {
        padding: 0 1rem;
    }

    /* FIXME: Header adjustments end */
    
}

@media screen and (min-width: 500px) {

    /* TODO: User profile adjustments */

    .start__post__form {
        padding: 2rem;
    }

    .start__post__container {
        padding: 0 2rem;
    }

    /* FIXME: User profile adjustments end */
    
}

@media screen and (min-width: 600px) {

    /* TODO: User profile adjsutments */

    .user__informations__container {
        gap: 0;
        align-items: flex-start;
        border-radius: 1rem;
        border: 1px solid var(--transparent);
        margin-right: 2rem;
        margin-left: 2rem;
        background: rgb(30,144,255);
        background: linear-gradient(356deg, rgba(30,144,255,1) 0%, rgba(255,255,255,1) 100%);
        width: 60rem;
    }

    .user__profile__buttons__container {
        flex-direction: row;
        justify-content: center;
        padding: 2rem 1rem;
        width: 100%;
    }

    .user__profile__buttons__container .button {
        padding: 0;
        width: 15rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }

    .user__informations {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    .user__name {
        margin-top: 0;
    }

    .user__profile__container {
        display: flex;
        justify-content: center;
    }

    /* FIXME: User profile adjsutments end * */
    
}

@media screen and (min-width: 768px) {

     /* TODO: Variables adjustments */
    
     :root {
        --user-message-size: 1.7rem;
        --send-message-size: 2.4rem;
        --message-size: 1.7rem;
    }
    
    /* FIXME: Variables adjustments end */

    /* TODO: Messaging adjustments */

    .messaging__main {
        align-items: center;
        justify-content: flex-start;
    }

    .message__friends__container {
        border: 1px solid var(--black);
        width: 60rem;
        border-radius: 1rem;
    }

    .messaging__friend__container {
        padding: 2rem;
    }

    .search__friend__section {
        align-self: center;
        position: relative;
        right: 9rem;
    }

    .chat {
        padding: 2rem;
    }

    /* FIXME: Messaging adjustments end */
    
}

@media screen and (min-width: 1280px) {

    /* TODO: Variables adjustments */

    :root {
        --header-height: 7rem;
        --search-here-size: 1.5rem;
        --search-here-icon-size: 2rem;
    }

    /* FIXME: Variables adjustments end */

    /* TODO: Header adjustments */

    .header {
        padding: 0 3rem;
    }
    
    .header__nav__bar__item__container,
    .header__nav__bar,
    .header__logo__search__desktop__container,
    .header__desktop__version {
        display: flex;
    }

    .header__desktop__version {
        justify-content: space-between;
        align-items: center;
    }

    .user__image__desktop {
        width: 4.5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        cursor: pointer;
    }

    .header__logo__search__desktop__container {
        align-items: center;
        gap: 1rem;
    }

    .header__logo__desktop__container i {
        font-size: 2.5rem;
        padding: 0 1rem;
        line-height: 4rem;
        border-radius: 5px;
        color: var(--main-color);
        background: dodgerblue;
    }

    .search__here__container {
        padding: 0 2rem;
        width: 40rem;
        gap: 1rem;
    }
    
    .search__here__container,
    .header__logo__desktop__container i {
        height: 4rem;
    }
    
    .header__nav__bar {
        gap: 3rem;
        align-items: center;
    }

    .header__nav__bar__item__container {
        flex-direction: column;
        align-items: center;
        gap: .4rem;
    }

    .header__nav__bar__item__container i {
        font-size: 2.5rem;
        color: var(--black);
        cursor: pointer;
    }

    .header__nav__bar__item {
        font-size: 1.5rem;
        color: var(--black);
        text-transform: capitalize;
    }

    .header__user__logo__desktop {
        margin-left: 3rem;
    }

    .header__nav__bar__decoration {
        width: 8rem;
        height: 2px;
        background: var(--black);
        visibility: hidden;
    }

    .header__nav__bar__decoration.active {
        visibility: visible;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Messaging adjustments */

    .message__firends__first__container {
        height: 48rem;
        overflow-y: auto;
    }

    .message__friends__container {
        border: 1px solid var(--black);
        border-radius: 1rem;
    }

    .friends__chat__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
    }

    .messaging__main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .chat__section {
        display: block;
        height: 70vh;
        border: 1px solid var(--black);
        border-radius: 1rem;
        width: 70rem;
        position: initial;
    }

    .message__friends__container {
        width: 40rem;
    }

    .search__friend__section {
        right: 0;
        left: -36rem;
    }  

    .start__conversation {
        color: rgb(59, 153, 248);
        font-size: 2rem;
        font-weight: 500;
        width: 100%;
        text-align: center;
        max-width: initial;
    }

    .chat {
        padding: 2rem 1rem;
    }

    .chat__friend__container {
        padding: 1rem 1.5rem;
    }

    .chat__friend__container .fa-angle-left {
        display: none;
    }

    /* FIXME: Messaging adjustments end */
    
}

/* FIXME: Media queries end */